Get Data for event 1

In [1]:
# Importing necessary libraries
import pandas as pd

### Importing the data

We are using the Electron Region data.

In [2]:
data = pd.read_csv("output_data/ElectronRegionData.csv") # Electron Region

In [3]:
# View the merged data head
data.head()

   event  eta  phi        et  position  electron  tau
0      0    0    0  12.15180         9         0    0
1      0    0    1  10.19040         5         0    0
2      0    0    2   7.06514         6         0    0
3      0    0    3   6.87023        14         0    0
4      0    0    4   5.66144         1         0    0

**Data Dictionary**

- event: Event number (Integer)
- eta: Index of eta coordinate 0-13 (Integer)
- phi: Index of phi coordinate, 0-17, which is also specifies the optical link (Integer)
- et: Transverse energy deposited in the region (Float)
- position: Position of the cluster within the region, a 4-bit number (Integer)
- electron: Electron bit signifying that the region likely has an electron or photon deposit (Bool)
- tau: Tau bit signifying that the region likely has a tau deposit (Bool)

In [4]:
# Check the shape of the merged dataframe
data.shape

(64512, 7)

### Getting data for a single event

We are using the electron region data for the 0th event.

In [5]:
event_data = data.loc[data['event'] == 1]

In [6]:
# View the first five rows of dataframe
event_data.head()

     event  eta  phi        et  position  electron  tau
252      1    0    0   7.23932         3         0    0
253      1    0    1  14.78990         6         0    1
254      1    0    2   8.17547         4         0    1
255      1    0    3   6.89318         2         0    0
256      1    0    4   9.89150         7         0    0

In [7]:
# Number of data values in an event
event_data.shape[0]

252

In [8]:
event_data.to_csv('output_data/Event_one_Electron.csv', index=False)