In [1]:
# Importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from jet_merger import select_and_sort_jet_data
# %matplotlib inline

### Importing the data

We are using the Electron Region data.

In [2]:
event_data = pd.read_csv("output_data/Event_one_Electron.csv") # Electron Region Event one

In [3]:
# View the merged data head
event_data.head()

   event  eta  phi        et  position  electron  tau
0      1    0    0   7.23932         3         0    0
1      1    0    1  14.78990         6         0    1
2      1    0    2   8.17547         4         0    1
3      1    0    3   6.89318         2         0    0
4      1    0    4   9.89150         7         0    0

**Data Dictionary**

- event: Event number (Integer)
- eta: Index of eta coordinate 0-13 (Integer)
- phi: Index of phi coordinate, 0-17, which is also specifies the optical link (Integer)
- et: Transverse energy deposited in the region (Float)
- position: Position of the cluster within the region, a 4-bit number (Integer)
- electron: Electron bit signifying that the region likely has an electron or photon deposit (Bool)
- tau: Tau bit signifying that the region likely has a tau deposit (Bool)

In [4]:
# Check the shape of the merged dataframe
event_data.shape

(252, 7)

- The following function will now get the value of Energy (ET) in all 4 regions of the 2x2 submatrix and sum them. 
- We will then find highest index of initial et in the submatrix and substitute the sum value to that region.
- Finally, we will find the actual index of the ET region and set all others to zero.
- Then, we will select and sort 6 data values where ET is not zero in descending order.

In [5]:
# select and sort jet data regions
sorted_jet_data = select_and_sort_jet_data(event_data)

In [6]:
sorted_jet_data

     event  eta  phi        et  position  electron  tau
49       1    2   13  96.30130         4         1    1
218      1   12    2  55.64794         3         0    0
244      1   13   10  48.95422        12         0    1
164      1    9    2  48.60560         7         0    0
63       1    3    9  48.49780        15         1    1
168      1    9    6  47.58320         8         0    1