In [13]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('ElectronRegionData.csv')

In [3]:
data.head()

   event  eta  phi        et  position  electron  tau
0      0    0    0  12.15180         9         0    0
1      0    0    1  10.19040         5         0    0
2      0    0    2   7.06514         6         0    0
3      0    0    3   6.87023        14         0    0
4      0    0    4   5.66144         1         0    0

In [4]:
data.shape

(64512, 7)

Duplicate data

In [24]:
new_data = pd.concat([data]*2)

In [26]:
new_data[new_data['event'] == 0].shape

(504, 7)

In [31]:
new_region_data = new_data.sort_values(by = ['event', 'eta', 'phi'])

In [32]:
new_region_data

       event  eta  phi        et  position  electron  tau
0          0    0    0  12.15180         9         0    0
0          0    0    0  12.15180         9         0    0
1          0    0    1  10.19040         5         0    0
1          0    0    1  10.19040         5         0    0
2          0    0    2   7.06514         6         0    0
...      ...  ...  ...       ...       ...       ...  ...
64509    255   13   15  16.19700         9         1    0
64510    255   13   16  11.03550         0         0    0
64510    255   13   16  11.03550         0         0    0
64511    255   13   17  11.31390         6         0    0
64511    255   13   17  11.31390         6         0    0

[129024 rows x 7 columns]

In [33]:
new_region_data.to_csv('large/new_region_large_data.csv')

To do sort values based on event and eta and phi. Also change value of position